/* load the default Redmine stylesheet */

@import url(../../../stylesheets/application.css);

@font-face {
  font-family: anzu;
  src: url("../font/APJapanesefont.ttf") format("truetype")
}

@font-face {
  font-family: anzuT;
  src: url("../font/APJapanesefontT.ttf") format("truetype")
}

body {
  font-family: anzu, Verdana, sans-serif;
  font-size: 20px;
  color: rgb(109, 4, 4);
}

h1, h2, h3, h4 {
  font-family: anzu;
  padding: 2px 10px 1px 0px;
  margin: 0 0 10px 0;
}

pre, code {
  font-family: anzuT, Consolas, Menlo, "Liberation Mono", Courier, monospace;
}

a, a:link, a:visited {
  color: rgb(103, 7, 7);
  text-decoration: none;
}

#header {
  background: white url(../images/logo.png) no-repeat 10px;
  background-position: 20px 20px;
  padding-left: 86px;
  border-color: bisque;
  color: #730000;
  border-width: thin;
  border-style: solid;
  border-top: none;
  border-left: none;
  border-right: none;
}

#header h1 {
    text-align: 60px;
    line-height: 80px;
    font-size: 28pt;
}

#top-menu {
  background: #efe0d9;
  color: #420707;
}

#top-menu a {
  color: #671515;
  margin-right: 10px;
  font-weight: bold;
}

#top-menu a:hover {
  color: #b50000;
}


#top-menu #loggedas {
  float: right;
  margin-right: 0.5em;
  color: #900000;
}

#sidebar {
  background: #fdf5f5;
  border-left: 1px solid #efdcdc;
}

.box {
  background-color: #fbf4ed;
  color: #4c0a0a;
  border: 1px solid #ecd6ad;
  border-radius: 6px;
}
#content {
  font-size: 18px;
}

#content .tabs ul li:hover {
  background-color: #ffffe2;
}

#content .tabs ul li a {
  border: 1px solid #ccc;
  border-bottom: 1px solid #bbbbbb;
  color: #8a3737;
}


.nodata, .warning {
  text-align: center;
  background-color: #fdf2cb;
  border-color: #f5b9b96e;
  color: #820505;
}

#projects-index ul.projects div.root a.project {
  font-family: "anzu";
  font-size: 18px;
}

#quick-search > form > label > a {
  color: #820505;
}

#quick-search > form > label > a:before {
  content: "┥";
  top: 6px;
  font-size: 16px;
  color: #c99696;
}

#main-menu li {
  margin: 0px 4px 0px 0px;
}

#main-menu li a {
  background-color: #fbf4ed;
  border: 1px solid #ecd6ad;
  border-bottom-style: none;
  border-radius: 6px 6px 0 0;
  color: #5c0909;
  position: relative;
  padding-left: 1.2em;
  font-weight: normal;
  font-size: 13pt;
}

#main-menu li a:before {
  content: "┸";
  position: absolute;
  left: 3px;
  top: 6px;
  font-size: 16px;
  color: #d58787;
}

#main-menu li a:hover {
  background: rgb(224, 166, 160);
  color: #fff;
}

#main-menu li a.selected:hover {
  background: #fff;
  color: rgb(142, 15, 15);
}

#main-menu li a.selected {
  background-color: #f4e9e4;
  color: #740404;
}

table.list:not(.odd-even) tbody tr:nth-child(even), .even {
  background-color: #f8f1f0;
}

table.list:not(.odd-even) tbody tr:nth-child(odd), .odd {
  background-color: #ffff;
}

table.list th, .table-list-header {
  background-color: #f1dada;
}

#content > div.splitcontent {
  font-size: 16px
}

div[id^="change-"] {
  border: 1px dotted rgb(183, 182, 181);
  border-radius: 8px;
  margin-bottom: 10px;
  padding: 8px;
}

div[id^="change-"]:nth-of-type(even) {
  background-color: #fdfbfb;
  margin-left: 30px;
}

div[id^="change-"]:nth-of-type(odd) {
  background-color: #fff6ed;
  margin-right: 30px;
}

h4.note-header::before {
  content: "┥";
  font-size: 12pt;
  top: 6px;
}

div.wiki, div.value {
  color: rgb(36, 2, 2);
}

div.description {
  padding-left: 6px;
  padding-right: 6px;
  border: 0.5px dashed rgb(183, 182, 181);
  background-color: white;
  border-radius: 6px;
}

div.description > p > strong {
  position: relative;
  color: #832929;
  padding: 0.5em 1em 0.5em 2em;
  background-color: #ffe5b3;
  border-radius: 0.5em;
}

div.description > p > strong::after {
  position: absolute;
  top: 50%;
  left:1em;
  transform:translateY(-50%);
  content: '';
  width: 13px;
  height:13px;
  background-color: white;
  border-radius:100%;
}

div.description div.wiki {
  background-color: white;
  /* border: 0.5px dotted rgb(183, 182, 181); */
  border-radius: 2px;
  padding-left: 4px;
  background-image:
    linear-gradient(
      180deg,
      rgba(0,0,0,0) 0%,
      rgba(0,0,0,0) 97%,
      #ddd 97%,
      #ddd 100%
    );
  background-size:100% 1.8em;
  line-height: 1.8;
}

div.issue .attributes .attribute .label {
  border-bottom: 1px dotted rgb(183, 182, 181);
  color: #962500;
}

div.issue {
  background: #fffdf6;
}

#tab-content-history.tab-content {
  padding: 0 6px;
  margin-bottom: 10px;
  border: none;
}

#content .tabs ul li a {
  display: block;
  font-size: 0.9em;
  text-decoration: none;
  line-height: 1.3em;
  padding: 4px 6px 4px 6px;
  border: 1px solid #ccc;
  border-bottom: 1px solid #bbbbbb;
  color: #999;
  font-weight: bold;
  border-top-left-radius: 6px;
  border-top-right-radius: 6px;
  background-color: #fff4e2;
}

div.issue p.author {
  margin-top: 0.5em;
  font-size: 0.8em;
}

a[class*="icon-"]:hover {
  transform: scale(1.3, 1.3);
}

a.icon:hover {
  color: rgb(118, 2, 2);
  background-color: #fef0ac;
  font-size: 1.1em;
}